.con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 9999;
}

.resp-nav-container {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  row-gap: 20px;
  position: absolute;
  background-color: #0f1624;
  z-index: 9;
  margin-top: 48px;
}

.resp-nav-container .link {
  opacity: 0.75;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.resp-nav-container .link:hover {
  opacity: 1;
  padding-left: 10px;
}

.icons-container {
  position: relative;
}

.contact-container {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 2rem;
  left: 2rem;
  border: 1px solid #ffffff61;
  padding: 1rem;
  border-radius: 10px;
}

.icon-element {
  opacity: 0.75;
  transition: all 0.3s ease-in-out;
}

.icon-element:hover {
  opacity: 1;
}
