.section {
  display: flex;
  justify-content: space-around;
}

.nav-logo {
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 35%;
  align-items: center;
}

.nav-links .nav-link {
  cursor: pointer;

  opacity: 0.75;
  transition: 0.5s ease;
}

.nav-links .nav-link:hover {
  opacity: 1;
}

.nav-icons {
  display: flex;
  justify-content: space-between;
  width: 10%;
  align-items: center;
}

.nav-icons .nav-icon {
  cursor: pointer;
  opacity: 0.75;
  transition: 0.5s ease;
}

.nav-icons .nav-icon:hover {
  opacity: 1;
}

/* media query */

@media (max-width: 950px) {
  .nav-links {
    display: none;
  }
}
