.section {
  display: flex;
  justify-content: space-around;
}

.nav-center {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  cursor: pointer;
}

.nav-toggle {
  font-size: 1.5rem;
  /* color: #9daaca; */
  color: white;
  opacity: 0.75;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}

.nav-toggle:hover {
  color: white;
  transform: rotate(90deg);
}

.nav-toggle {
  display: none;
}

@media (max-width: 800px) {
  .nav-toggle {
    display: inline-block;
  }
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 35%;
  align-items: center;
}

.nav-links .nav-link {
  cursor: pointer;

  opacity: 0.75;
  transition: 0.5s ease;
}

.nav-links a {
  color: white;
}

.nav-links .nav-link:hover {
  opacity: 1;
}

.nav-icons {
  display: flex;
  justify-content: space-between;
  width: 10%;
  align-items: center;
}

.nav-icons .nav-icon {
  cursor: pointer;
  opacity: 0.75;
  transition: 0.5s ease;
}

.nav-icons .nav-icon:hover {
  opacity: 1;
}

/* media query */

@media (max-width: 800px) {
  .nav-links,
  .nav-icons {
    display: none;
  }

  .nav-center {
    width: 100%;
  }
}

.toggled-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 0.75;
  color: #0f1624;
  /* height: 0; */
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* row-gap: 1rem; */
}

.links-container .link {
  font-size: 18px;
  padding: 15px 0;
  /* margin: 10px 0; */
  cursor: pointer;
  position: relative;
  width: 100vw;
  transition: all 0.3s linear;
}

.links-container .link a {
  color: #0f1624;
}

.links-container .link:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.links-container .link::after {
  content: "";
  background-color: #0f1624;
  width: 100vw;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icons-container {
  display: flex;
  justify-content: space-around;
  width: 100px;
  margin-top: 20px;
}

.icon {
  font-size: 1.5rem;
}

.icon a {
  color: #0f1624;
}

.icon a:visited {
  color: #0f1624;
}
