body {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f1624;
  color: white;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.container {
  /* the container holds the content inside of the parent */
  width: 90vw;
  margin: 0 auto;
}

/* reusable styles */
.section-container {
  width: 60vw;
  margin: 0 auto;
  padding-top: 60px;
}
